.nut-result-goods-card{
    position: relative;
    width: 176px;
    height: 256px;
    overflow: hidden;
    margin-right: 18px;
    margin-bottom: 30px;
    box-sizing: border-box;
    &.important{
        .goods-title{
            color: #B23C37;
            &.reference-price{
                color: #B23C37;
            }
        }
    }
    &.small{
        height: 274px;
        width: 176px;
        margin-right: 18px;
        .goods-img-wrap{
            border: none;
            width: 176px;
            height: 176px;
        }
    }
    &:nth-child(3n){
        margin-right: 0;
    }
    .number{
        position: absolute;
        right: 0;
        bottom: -1px;
        height: 34px;
        line-height: 38px;
        font-size: 22px;
        color: #ffffff;
        font-weight: bold;
        background: #B23C37;
        padding: 0 8px;
        &:after{
            display: block;
            content: '';
            position: absolute;
            left: -36px;
            bottom: 0;
            width: 0;
            height: 0;
            border-top: 36px solid transparent; 
            border-right: 20px solid #B23C37;
            border-left: 20px solid transparent;
            border-bottom: 0 solid transparent;
        }
    }
    .goods-img-wrap{
        position: relative;
        width: 176px;
        height: 176px;
        border: 8px solid #B23C37;
        border-radius: 8px;
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 12px;
        .img{
            width: 100%;
            height: 100%;
        }
    }
    .goods-title{
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 28px;
        color: #ffffff;
        padding: 0 8px;
        margin-top: 4px;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 1; 
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        &.chance{
            line-height: 28px;
            font-size: 20px;
            color: #999999;
        }
        &.reference-price{
            line-height: 28px;
            font-size: 20px;
            color: #F6F6F6;;
        }
    }
    .btn{
        width: 184px;
        height: 84px;
    }
}